@use "@/assets/styles/variables" as *;

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $intro-background;

    .spinner {
        width: 150px;
		height: 150px;
		border: 10px solid $text-color;
		border-top: 10px solid transparent;
		border-radius: 50%;
		animation: spin 1s linear infinite;

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    }
}

@media (max-width: 480px) {
    .loader {
        .spinner {
            width: 120px;
		    height: 120px;
            border-width: 8px;
        }
    }
}