@use "@/assets/styles/variables" as *;

.date {
    // margin-top: 150px;
    margin-top: clamp(50px, 14.6vw, 150px);
    padding: 0 clamp(5px, 3vw, 20px);
    position: relative;

    .table {
        table-layout: fixed;
        width: 100%;
        border: 2px solid $table-border-color;
        border-collapse: collapse;

        position: relative;

        th, td {
            text-align: center;
            vertical-align: middle;
            border-right: 2px solid $table-border-color;
            color: $text-color;
            font-family: var(--font-montserrat), Arial, sans-serif;
            font-weight: 300;

            &:last-child {
                border-right: none;
            }
        }
        th {
            font-size: clamp(12px, 4vw, 35px);
            text-transform: uppercase;
            padding: 16px 0;

            position: relative;
            
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: $table-border-color;
            }
            &:first-child::after {
                left: auto;
                right: 0;
                width: 90%;
            }
            &:last-child::after {
                width: 90%;
            }
        }
        td {
            position: relative;
            padding: 30px 0;

            .month {
                font-size: clamp(12px, 5vw, 40px);
            }
            .day {
                font-size: 120px;
                // font-size: 3.3vw;
                font-weight: 500;
            }

            img {
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                // top: 50%;
                // left: 50%;
                // transform: rotate(15deg) translate(-68%, -50%);
            }
        }

        thead {
            position: relative;

            // &::after {
            //     content: "";
            //     position: absolute;
            //     bottom: 0;
            //     left: 5%;
            //     width: 90%;
            //     height: 2px;
            //     background: $table-border-color;
            // }
        }
    }
}

@media (max-width: 885px) {
    .date {
        .table {
            td {
                img {
                    width: 110%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .date {
        .table {
            th {
                // font-size: 25px;
                padding: 12px 0;
            }

            td {
                padding: 20px 0;

                .month {
                    // font-size: 30px;
                }

                .day {
                    font-size: 130px;
                }
            }
        }
    }
}

@media (max-width: 675px) {
    .date {
        .table {
            th {
                // font-size: 20px;
                padding: 10px 0;
            }

            td {
                .month {
                    // font-size: 25px;
                }
                .day {
                    font-size: 110px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .date {
        .table {
            th {
                // font-size: 18px;
            }

            td {
                padding: 15px 0;

                .month {
                    // font-size: 22px;
                }
                .day {
                    font-size: 100px;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .date {
        .table {
            border-width: 1.5px;

            th, td {
                border-width: 1.5px;
            }
            th {
                &::after {
                    height: 1.5px;
                }
            }
        }
    }
}

@media (max-width: 545px) {
    .date {
        .table {
            th {
                // font-size: 16px;
            }

            td {
                .month {
                    // font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .date {
        .table {
            border-width: 1px;

            th, td {
                border-width: 1px;
            }
            th {
                // font-size: 14px;

                &::after {
                    height: 1px;
                }
            }
            td {
                padding: 12px 0;

                .mont {
                    // font-size: 16px;
                }
                .day {
                    font-size: 70px;
                }
            }
        }
    }
}

@media (max-width: 395px) {
    .date {
        .table {
            th {
                // font-size: 12px;
            }

            td {
                padding: 10px 0;
                .month {
                    // font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 340px) {
    .date {
        .table {
            th {
                font-size: 10px;
                padding: 8px 0;
            }

            td {
                padding: 8px 0;
                .month {
                    font-size: 12px;
                }
                .day {
                    font-size: 60px;
                }
            }
        }
    }
}

@media (max-width: 290px) {
    .date {
        .table {
            th {
                font-size: 8px;
                padding: 6px 0;
            }

            td {
                padding: 6px 0;
                .month {
                    font-size: 10px;
                }
                .day {
                    font-size: 50px;
                }
            }
        }
    }
}